.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 83px;
    flex-shrink: 0;
    background: #131313;
}

.header__section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 37px;
    flex-shrink: 0;
}

.header__section_text {
    color: #E3B873;
    font-family: 'Nunito Sans', sans-serif;    
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.header__section_nav {
    margin: 0 67.37px 0 95.47px;
}

.header__section_nav_list {
    display: flex;
    gap: 47.09px;
    list-style: none;
}

.header__section_nav_link {
    color: #FFF;
    font-family: 'Nunito Sans', sans-serif;    
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.header__section_nav_link:first-child {
    color: #E3B873;
}

.header__section_phone_number {
    margin-right: 45px;
    color: #E3B873;
    text-align: right;
    font-family: 'Nunito Sans', sans-serif;    
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    cursor: pointer;
}

.header__section_btn {
    width: 161px;
    height: 37px;
    flex-shrink: 0;
    border-radius: 2px;
    background: #E3B873;
    box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.20);
    cursor: pointer;
}

.header__section_btn_text {
    color: #FFF;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;    
    font-size: 11px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -1px;
}

.main__section_one {
    display: flex;
    flex-direction: column;
}

.main__section_one_img_zero {
    display: none;
}

.main__section_one_img {
    width: 1440px;
}

.main__section_one_img_hover {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1440px;
    height: 707px;
    flex-shrink: 0;
    background: rgba(0, 0, 0, 0.70);}

.main__section_one_hero {
    position: absolute;
    margin: 194px 0 0 134px;
    width: 676.109px;
    height: 305px;
    flex-shrink: 0;
}

.main__section_one_hero_title {
    width: 514px;
    color: #FFF;
    font-family: 'Yeseva One', serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 132.825%;
    text-transform: uppercase;
}

.main__section_one_hero_title_word {
    color: #E3B873;
}

.main__section_one_hero_text {
    width: 496px;
    margin: 19px 0 41px;
    color: #FFF;
    font-family: 'Nunito Sans', sans-serif;    
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.68%;
}

.main__section_one_hero_btn {
    margin-right: 20px;
    width: 207px;
    height: 51px;
    flex-shrink: 0;
    border-radius: 2px;
    background: #E3B873;
    box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.30);
    cursor: pointer;
}

.section_one_hero_btn_two {
    border-radius: 2px;
    border: 1px solid #FFF;
    background: none;
}

.main__section_one_hero_btn_text {
    color: #FFF;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;    
    font-size: 11px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.main__section_two {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1440px;
    height: 1074px;
    flex-shrink: 0;
    background: #131313;
}

.main__section_two_hero {
    display: flex;
    margin: 107px 0 0 134.45px;
    gap: 50px;
}

.main__section_two_hero_left_part {
    display: flex;
    flex-wrap: wrap;
    width: 442px;
    height: 390px;
    flex-shrink: 0;
}

.main__section_two_hero_left_part_title {
    margin: 69.36px 0 34px;
    width: 253px;
    height: 66px;
    flex-shrink: 0;
    color: #E3B873;
    font-family: 'Yeseva One', serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%;
    letter-spacing: -1.89px;
    text-transform: uppercase;
}

.main__section_two_hero_left_part_text {
    color: #FFF;
    font-family: 'Nunito Sans', sans-serif;    
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 190.96%;
}

.section_two_hero_left_part_text_one {
    width: 392px;
    margin-bottom: 9px;
}

.main__section_two_hero_left_part_img {
    display: none;
}

.main__section_two_hero_left_part_img_hover {
    display: none;
}

.main__section_two_hero_left_part_block {
    display: flex;
    flex-direction: column;
    width: 161px;
}

.main__section_two_hero_left_part_block:nth-child(2n) {
    width: 213px;
} 

.main__section_two_hero_left_part_subtitle {
    margin: 33px 0 9px;
    color: #E3B873;
    font-family: 'Yeseva One', serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%;
    text-transform: uppercase;
}

.main__section_two_hero_left_part_nav {
    margin-top: 79.64px;
}

.main__section_two_hero_right_part_list {
    display: flex;
    gap: 60.5px;
    margin-bottom: 52.68px;
    list-style: none;
}

.main__section_two_hero_right_part_link {
    color: rgba(255, 255, 255, 0.30);
    font-family: 'Yeseva One', serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%;
    text-transform: uppercase;
    cursor: pointer;
}

.main__section_two_hero_right_part_link:first-child {
    color: #E3B873;
    border-bottom: 1px solid #E3B873;
}

.main__section_two_bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 92px;
}

.main__section_two_bottom_text {
    color: #FFF;
    text-align: center;
    font-family: 'Yeseva One', serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%;
    text-transform: uppercase;
}

.main__section_two_bottom_logo {
    margin: 12.79px 0 31.21px;
}

.main__section_two_bottom_logo_camera {
    margin: 0 7.76px 0 9.47px;
}

.main__section_two_bottom_video_hover {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 104px;
    width: 817px;
    height: 434px;
    flex-shrink: 0;
    background: rgba(0, 0, 0, 0.80);
}

.main__section_two_bottom_video_hover_btn {
    cursor: pointer;
}

.main__section_three {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__section_three_line {
    margin: 270.5px 0 34.46px;
    width: 55px;
    flex-shrink: 0;
    border-top: 1.543px solid #E3B873;
}

.main__section_three_text {
    margin-bottom: 91.5px;
    width: 649px;
    color: #363636;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;    
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 204.6%;
    text-align: center;
}

.main__section_three_input {
    display: flex;
}

.main__section_three_input_section {
    width: 231px;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    margin:0 0 35px 58px;
}

.main__section_three_input_header {
    color: rgba(54, 54, 54, 0.50);
    font-family: 'Nunito Sans', sans-serif;    
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.68%;
}

.main__section_three_input_text {
    border: none;
    width: 100%;
    font-family: 'Nunito Sans', sans-serif;    
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.68%;
}

.main__section_three_input_text::placeholder {
    color: #363636;
}

.main__section_three_input_btn {
    margin-left: 49px;
    width: 200px;
    height: 51px;
    flex-shrink: 0;
    border: none;
    background: rgba(227, 184, 115, 1);
    cursor: pointer;
}

.main__section_three_input_btn_text {
    color: #FFF;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;    
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 204.6%;
    text-transform: uppercase;
}

.main__section_three_input_first-checkbox {
    display: none;
}

.main__section_three_first-checkbox {
    margin-bottom: 147.85px;
}

.main__section_three_label {
    cursor: pointer;
    display: flex;
    gap: 8.62px;
}

.main__section_three_checkbox{
    display: none;
}
.main__section_three_fake{
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #E3B873;
    color: #fff;
    justify-content: center;
}
.main__section_three_fake::before{
    content:"\2714";
    opacity: 0;
    transition: .2s;
}
.main__section_three_checkbox:checked + .main__section_three_fake::before{
    opacity: 1;
}

.main__section_three_checkbox_text {
    color: #181818;
    font-family: 'Nunito Sans', sans-serif;    
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.68%;
}

.main__section_three_subtitle {
    margin-bottom: 13px;
    color: #181818;
    text-align: center;
    font-family: 'Yeseva One', serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%; 
    text-transform: uppercase;
}

.main__section_three_logo_repair {
    margin-bottom: 31px;
}

.main__section_three_types_of_repair {
    display: flex;
    gap: 30px;
    margin-bottom: 124px;
}

.main__section_three_types_of_repair_info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__section_three_types_of_repair_info_img {
    width: 392px;
    height: 421px;
    flex-shrink: 0;
}

.main__section_three_types_of_repair_text_section {
    margin-top: -127px;
    width: 330px;
    height: 286px;
    flex-shrink: 0;
    background: rgba(255, 255, 255, 1);
}

.main__section_three_types_of_repair_text_section_header {
    margin: 25px 0 13px 34px;
    color: #363636;
    font-family: 'Yeseva One', serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%;
}

.main__section_three_types_of_repair_text_section_list {
    margin: 0 0 23px 46px;
}

.main__section_three_types_of_repair_text_section_link {
    list-style: disc;
    color: #959595;
    font-family: 'Nunito Sans', sans-serif;    
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 204.6%;
}

.main__section_three_types_of_repair_btn {
    align-self: flex-start;
    margin-left: 31PX;
    width: 228px;
    height: 54px;
    flex-shrink: 0;
    background: #E3B873;
    border: none;
    box-shadow: 5px 5px 10px 0px rgba(227, 184, 115, 0.30);
    cursor: pointer;
}

.main__section_three_types_of_repair_btn_text {
    color: #FFF;
    font-family: 'Yeseva One', serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%;
    text-transform: uppercase;
}

.main__section_four {
    display: flex;
    justify-content: center;
    margin-right: 100px;
    column-gap: 131px;
    width: 100%;
    margin-bottom: 322.53px;
}

.main__section_four_left {
    align-self: flex-start;
}

.main__section_four_left_list {
    display: flex;
    flex-direction: column;
    margin: -550px 0 0 249px;
    row-gap: 90px;
}

.main__section_four_left_list_section {
    display: flex;
    align-items: center;
    width: 379px;
    gap: 5px;
}

.main__section_four_left_list_section:last-child {
    width: 254px;
}

.main__section_four_left_list_number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 41.757px;
    height: 41.757px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 8px solid #FFF;
    background: #E3B873;
    box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.15);
}

.main__section_four_left_list_number_text {
    color: #FFF;
    text-align: center;
    font-family: 'Yeseva One', serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%;
}

.main__section_four_left_list_text {
    color: #363636;
    font-family: 'Nunito Sans', sans-serif;  
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main__section_four_right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 106px;
    padding: 0 49px;
    width: 506px;
    height: 509px;
    flex-shrink: 0;
    background: #131313;
    box-shadow: 0px 30px 30px 0px rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
}

.main__section_four_right_header {
    margin: 28px 0 39px;
    width: 243px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 143.22%;
}

.main__section_four_right_input {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    width: 100%;
    gap: 48px;
}

.main__section_four_right_input_section {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.main__section_four_right_input_header {
    color: rgba(255, 255, 255, 0.50);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.68%;
}

.main__section_four_right_input_text {
    border: none;
    background: #131313;
    width: 100%;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.68%;
}

.main__section_four_right_input_text::placeholder {
    color: #FFF;
}

.main__section_four_right_second-checkbox {
    align-self: flex-start;
    margin-bottom: 39px;
}

.main__section_four_right_label {
    cursor: pointer;
    display: flex;
    gap: 8.62px;
}

.main__section_four_right_checkbox{
    display: none;
}
.main__section_four_right_fake{
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #E3B873;
    color: #fff;
    justify-content: center;
}
.main__section_four_right_fake::before{
    content:"\2714";
    opacity: 0;
    transition: .2s;
}
.main__section_four_right_checkbox:checked + .main__section_four_right_fake::before{
    opacity: 1;
}

.main__section_four_right_checkbox_text {
    color: #FFF;
    font-family: 'Nunito Sans', sans-serif;    
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.68%;
}

.main__section_four_right_btn {
    align-self: flex-end;
    width: 213px;
    height: 51px;
    flex-shrink: 0;
    border: none;
    background: #E3B873;
    box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.15);
    cursor: pointer;
}

.main__section_four_right_text {
    color: #FFF;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;    
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.68%;
    text-transform: uppercase;
}

.main__section_four_right_bottom {
    display: flex;
    align-self: flex-start;
    align-items: center;
    margin-top: 65.44px;
    gap: 25px;
}

.main__section_four_right_bottom_text {
    width: 221px;
    flex-shrink: 0;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 143.22%;
}

.main__section_five {
    display: flex;
    margin-bottom: 110.47px;
}

.main__section_five_img {
    width: 1440px;
}

.main__section_five_img_hover {
    display: flex;
    position: absolute;
    width: 1440px;
    height: 864px;
    flex-shrink: 0;
    background: linear-gradient(110deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.90) 100%);
}

.main__section_five_left {
    display: flex;
    flex-direction: column;
    margin: 137.7px 123px 0 99px;
}

.main__section_five_left_header {
    margin-bottom: 47px;
    width: 367px;
    color: #E3B873;
    font-family: 'Yeseva One', serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%;
    text-transform: uppercase;
}

.main__section_five_left_list {
    display: flex;
    flex-direction: column;
    list-style: none;
    row-gap: 30px;
}

.main__section_five_left_link {
    color: #FFF;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
}

.main__section_five_left_link:first-child {
    color: #E3B873;
    text-decoration: underline;
}

.main__section_five_right {
    display: flex;
}

.main__section_five_right_imgs {
    display: flex;
    flex-direction: column;
}

.main__section_five_right_imgs_zero {
    display: none;
}

.main__section_five_right_imgs_first {
    margin: -41.16px 43px 31.9px 0;
}

.main__section_five_right_imgs_second {
    margin-right: 43px;
}

.main__section_five_right_imgs_third {
    margin: -112.53px 0 37px;
}

.main__section_six {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 345.61px;
}

.main__section_six_title {
    color: #181818;
    text-align: center;
    font-family: 'Yeseva One', serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%;
    text-transform: uppercase;
}

.main__section_six_logo_hands {
    margin: 13.22px 0 24.16px;
}

.main__section_six_text {
    width: 378px;
    margin-bottom: 39px;
    flex-shrink: 0;
    color: #363636;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.68%;
}

.main__section_six_info {
    display: flex;
    gap: 54px;
}

.main__section_six_info_topic_head {
    display: flex;
    align-items: center;
    margin: 24px 0 20px 20px;
    gap: 26.32px;
}

.main__section_six_info_topic_head_img {
    width: 76px;
    height: 76px;
    flex-shrink: 0;
    border: none;
}

.main__section_six_info_topic_head_header {
    width: 178px;
    height: 42px;
    flex-shrink: 0;
    color: #181818;
    font-family: 'Yeseva One', serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 127.05%;
}

.main__section_six_info_topic_text {
    margin:0 0 5px 20px;
    width: 321.079px;
    color: #959595;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
}

.main__section_six_info_topic_bottom {
    display: flex;
    margin-top: 25px;
    gap: 2px;
}

.main__section_six_info_topic_bottom_info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 146.5px;
    height: 54.035px;
    flex-shrink: 0;
    background: rgba(227, 184, 115, 1);
}

.main__section_six_info_topic_bottom_info_text {
    color: #FFF;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%;
    text-transform: uppercase;
}

.main__backgroung_city {
    position: absolute;
    min-height: 100%;
    display: flex;
}

.main__backgroung_city_right {
    margin-left: -20px;
}

.main__section_seven {
    display: flex;
}

.main__section_seven_img_hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 1440px;
    height: 953.898px;
    flex-shrink: 0;
    background: linear-gradient(180deg, rgba(24, 24, 24, 0.90) 3.47%, rgba(24, 24, 24, 0.72) 100%);
}

.main__section_seven_img_hover_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -222.66px;
    padding: 0 181.5px;
    width: 883px;
    height: 445.319px;
    flex-shrink: 0;
    background: #181818;
    box-sizing: border-box;
}

.main__section_seven_img_hover_content_header {
    margin: 34.4px 0 45.84px;
    color: #FFF;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%;
    text-transform: uppercase;
}

.main__section_seven_img_hover_content_input {
    display: flex;
    width: 100%;
    margin-bottom: 48.76px;
    gap: 58px;
}

.main__section_seven_img_hover_content_input_section {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.main__section_seven_img_hover_content_input_header {
    color: rgba(255, 255, 255, 0.50);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.68%;
}

.main__section_seven_img_hover_content_input_text {
    border: none;
    background: #131313;
    width: 100%;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.68%;
}

.main__section_seven_img_hover_content_input_text::placeholder {
    color: #FFF;
}

.main__section_seven_img_hover_content_third-checkbox {
    display: flex;
    align-self: center;
    margin: 48.23px 0 50.45px;
}

.main__section_seven_img_hover_content_label {
    cursor: pointer;
    display: flex;
    gap: 8.62px;
}

.main__section_seven_img_hover_content_checkbox{
    display: none;
}
.main__section_seven_img_hover_content_fake{
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #E3B873;
    color: #fff;
    justify-content: center;
}
.main__section_seven_img_hover_content_fake::before{
    content:"\2714";
    opacity: 0;
    transition: .2s;
}
.main__section_seven_img_hover_content_checkbox:checked + .main__section_seven_img_hover_content_fake::before{
    opacity: 1;
}

.main__section_seven_img_hover_content_checkbox_text {
    color: #FFF;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.68%;
}

.main__section_seven_img_hover_content_text {
    color: #FFF;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.68%;
}

.main__section_seven_img_hover_content_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 51px;
    flex-shrink: 0;
    background: rgba(227, 184, 115, 1);
    border: none;
    cursor: pointer;
}

.main__section_seven_img_hover_content_btn_text {
    color: #FFF;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 204.6%;
    text-transform: uppercase;
}

.main__section_seven_img_hover_text {
    margin: 52.01px 0 26px;
    width: 589px;
    flex-shrink: 0;
    color: #E3B873;
    text-align: center;
    font-family: 'Yeseva One', serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%;
    text-transform: uppercase;
}

.main__section_seven_img_hover_logo {
    display: flex;
    gap: 15px;
    margin-bottom: 43.29px;
}

.main__section_seven_img_hover_logo_mail {
    cursor: pointer;
}

.main__section_seven_img_hover_logo_instagram {
    cursor: pointer;
}

.main__section_seven_img_hover_map_before {
    display: none;
}

.main__section_seven_img_hover_map_after {
    cursor: pointer;
}

.footer {
    display: flex;
    width: 100%;
    height: 83px;
    flex-shrink: 0;
    background: #131313;
}

.footer__section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -1px;
    width: 100%;
    height: 133px;
    flex-shrink: 0;
    background: #181818;
}

.footer__section_text {
    color: #E3B873;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.footer__section_nav {
    margin: 0 67.37px 0 95.47px;
}

.footer__section_nav_list {
    display: flex;
    gap: 47.09px;
    list-style: none;
}

.footer__section_nav_link {
    color: #FFF;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.footer__section_nav_link:first-child {
    color: #E3B873;
}

.footer__section_phone_number {
    margin-right: 45px;
    color: #E3B873;
    text-align: right;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    cursor: pointer;
}

.footer__section_btn {
    width: 161px;
    height: 37px;
    flex-shrink: 0;
    border-radius: 2px;
    background: #E3B873;
    box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.20);
    cursor: pointer;
}

.footer__section_btn_text {
    color: #FFF;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

@media (max-width: 1300px) {
    .header__section {
        width: 100%;
        padding: 0 18px;
        box-sizing: border-box;
    }
    
    .header__section_nav {
        display: none;
    }

    .header__section_btn {
        display: none;
    }

    .header__section_phone_number {
        margin: 0 0 0 82px;
        color: #FFF;
    }

    .main__section_one_img {
        width: 375px;
        height: 476px;
    }

    .main__section_one_img_hover {
        width: 375px;
        height: 476px;
    }

    .main__section_one_hero {
        margin: 85px 18px 0;
        width: auto;
    }

    .main__section_one_hero_title {
        width: 339px;
        font-size: 23px;
        margin: 0;
    }

    .main__section_one_hero_text {
        width: 339px;
        font-size: 14px;
    }

    .main__section_one_hero_btn {
        width: 338.607px;
        margin:0 18px 26px 0;
    }

    .main__section_two {
        width: 375px;
        height: 1571px;
    }

    .main__section_two_hero {
        flex-direction: column;
        align-items: center;
        margin: 0;
        height: 672px;
    }

    .main__section_two_hero_left_part {
        align-items: center;
        justify-content: center;
        width: 340px;
    }

    .main__section_two_hero_left_part_nav {
        display: none;
    }

    .main__section_two_hero_left_part_title {
        width: 222px;
        font-size: 22px;
        text-align: center;
        margin: 36px 0 22px;
    }

    .section_two_hero_left_part_text_one {
        width: 311px;
        font-size: 11px;
        text-align: center;
    }

    .main__section_two_hero_left_part_img {
        display: block;
        margin: 27px 0 3px;
    }

    .main__section_two_hero_left_part_img_hover {
        position: absolute;
        width: 312px;
        height: 241.355px;
        flex-shrink: 0;
        margin-top: 297px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .main__section_two_hero_left_part_img_hover_btn {
        cursor: pointer;
    }

    .main__section_two_hero_left_part_block {
        width: 175px;
    }

    .main__section_two_hero_left_part_block:nth-child(2n) {
        width: 140px;
    }

    .main__section_two_hero_left_part_subtitle {
        font-size: 14px;
    }

    .main__section_two_hero_right_part {
        display: none;
    }

    .main__section_two_bottom {
        margin-top: 58px;
    }

    .main__section_two_bottom_video {
        width: 340px;
        height: 207px;
    }

    .main__section_two_bottom_video_hover {
        width: 340px;
        height: 207px;
    }

    .main__section_two_bottom_video_hover_btn {
        width: 37px;
        height: 37px;
    }

    .main__section_three {
        width: 375px;
        margin-top: -530px;
    }

    .main__section_three_line {
        margin: 28px 0 21.46px;
    }

    .main__section_three_text {
        width: 340px;
        color: #FFF;
        font-size: 11px;
        margin-bottom: 0;
    }

    .main__section_three_input {
        flex-direction: column;
    }

    .main__section_three_input_section {
        width: 340px;
        margin: 63px 0 18px 0;
    }

    .main__section_three_input_header {
        color: rgba(255, 255, 255, 0.50);
    }

    .main__section_three_input_text {
        background: #131313;;   
    }

    .main__section_three_input_text::placeholder {
        color: #FFF;
    }

    .main__section_three_input_first-checkbox {
        display: block;
        margin-bottom: 62.43px;
    }

    .main__section_three_checkbox_text {
        color: #FFF;
    }

    .main__section_three_first-checkbox {
        display: none;
    }

    .main__section_three_input_btn {
        width: 340px;
        margin-left: 0;
    }

    .main__section_three_subtitle {
        margin: 58px 0 13px;
        font-size: 22px;
    }

    .main__section_three_logo_repair {
        margin-bottom: 40px;
    }
    
    .main__section_three_types_of_repair {
        flex-direction: column;
        align-items: center;
        margin-bottom: 55px;
    }

    .main__section_three_types_of_repair_info {
        align-items: flex-start;
    }
    
    .main__section_three_types_of_repair_info_img {
        width: 340px;
        height: 365.153px;
        flex-shrink: 0;
    }

    .main__section_three_types_of_repair_text_section {
        width: 270px;
        height: 241px;
        margin-left: -1px;
    }

    .main__section_three_types_of_repair_btn {
        margin: 17px 0 0 18px;
        width: 190.426px;
        height: 40px;
    }

    .main__section_three_types_of_repair_btn_text {
        font-size: 15px;
    }

    .main__section_four {
        display: none;
    }

    .main__section_five {
        z-index: 2;
        margin-bottom: 0;
    }

    .main__section_five_img {
        display: none;
    }

    .main__section_five_img_hover {
        position: relative;
        flex-direction: column;
        align-items: center;
        background: none;
        width: auto;
        height: auto;
    }

    .main__section_five_left {
        margin: 0;
    }

    .main__section_five_left_header {
        text-align: center;
        font-size: 22px;
        width: 226px;
        margin-bottom: 24px;
    }

    .main__section_five_left_list {
        display: none;
    }

    .main__section_five_right_imgs {
        align-items: center;
    }

    .main__section_five_right_imgs_zero {
        display: flex;
        width: 340px;
        height: 242px;
        flex-shrink: 0;
    }

    .main__section_five_right_imgs_zero_hover {
        position: absolute;
        width: 312px;
        height: 241.355px;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .main__section_five_right_imgs_zero_hover_btn {
        cursor: pointer;
    }

    .main__section_five_right_imgs_first {
        display: none;
    }

    .main__section_five_right_imgs_second {
        display: none;
    }
    
    .main__section_five_right_imgs_third {
        display: none;
    }

    .main__section_five_right_imgs_fourth {
        display: none;
    }

    .main__section_six {
        display: none;
    }

    .main__section_seven_img {
        display: none;
    }

    .main__section_seven_img_hover {
        position: relative;
        background: none;
        width: auto;
        height: auto;
    }

    .main__section_seven_img_hover_content {
        width: 375px;
        height: 1202px;
        margin-top: -121px;
        padding: 0 18px;
    }

    .main__section_seven_img_hover_content_header {
        margin: 173px 0 52px;
    }
    
    .main__section_seven_img_hover_content_input {
        flex-direction: column;
        gap: 63px;
        margin-bottom: 63px;
    }

    .main__section_seven_img_hover_content_third-checkbox {
        width: 100%;
        align-self: flex-start;
        margin: 21.63px 0 67.33px;
    }

    .main__section_seven_img_hover_content_btn {
        width: 340px;
        margin-bottom: 46px;
    }

    .main__section_seven_img_hover_map_before {
        display: block;
        width: 340px;
        height: 255px;
        flex-shrink: 0;
        margin-top: -474px;
        cursor: pointer;
    }

    .main__section_seven_img_hover_text {
        width: 340px;
        font-size: 18px;
        margin: 42.79px 0 23.65px;
    }

    .main__section_seven_img_hover_map_after {
        display: none;
    }

    .main__section_seven_img_hover_logo {
        margin-bottom: 49px;
    }

    .footer {
        display: none;
    }
}

@media (min-width: 2500px) {
    .main__section_one_img_zero {
        display: block;
    }

    .main__section_one_img {
        display: none;
    }

    .main__section_one_img_hover {
        width: 2500px;
    }

    .main__section_one_hero {
        margin: 194px 0 0 684px;
    }

    .main__section_two {
        width: 100%;   
    }

    .main__section_two_hero {
        margin-left: 0;
    }

    .main__section_two_bottom_video {
        display: none;
    }

    .main__section_two_bottom_video_hover {
        display: none;
    }

    .main__section_three {
        display: none;
    }

    .main__section_four {
        display: none;
    }

    .main__section_five {
        display: none;
    }

    .main__section_six {
        display: none;
    }

    .main__section_seven {
        display: none;
    }

    .footer {
        display: none;
    }

}
